[SddmGreeterTheme]
Name=Apple-Sonoma-v1
Description=apple like style
Author=zayronxio
Copyright=(c) 2022, zayronxio
License=gpl3.0
Type=sddm-theme
Version=0.1
Website=https://github.com/varlesh/rounded
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=Apple-Sonoma-v1
Theme-API=2.0
